:root {
    --title-color: #779611;
    --text-color: #000000;
    --background-color: #F9F9F9;
    --head-text: #707070;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    width: 1750px;
    padding: 0 15px;
    margin: 0 auto;
}






.header {
    padding-top: 41px;
    padding-bottom: 41px;
    border-bottom: 2px solid var(--title-color);
}

.logo {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;
    color: var(--title-color);
    margin-right: 120px;
}

.nav-list {
    display: flex;
}

.nav-item {
    margin-right: 80px;
    font-size: 20px;
    font-weight: 500;
}

.header-wrap {
    display: flex;
    align-items: center;
}

.nav-link {
    color: var(--head-text);
    cursor: pointer;
}

.nav-link:hover {
    color: var(--title-color);
}

.hero {
    border-bottom: 2px solid var(--title-color);


}

.hero-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-title {
    font-size: 48px;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 50px;
    color: var(--title-color);
}

.hero-text {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 50px;
}

.hero-btn {
    padding: 17px 80px;
    border-radius: 40px;
    border: 1px solid var(--title-color);
    background-color: var(--title-color);
    font-size: 32px;
    color: var(--background-color);
    cursor: pointer;
    font-weight: 400;
}

.hero-btn:hover {
    color: var(--title-color);
    background-color: var(--background-color);
    border: 1px solid var(--title-color);
}

/* Shop */
.shop {
    padding-top: 80px;
    padding-bottom: 80px;
}

.shop-title {
    font-size: 36px;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;
    color: var(--title-color);
    margin-bottom: 35px;
}

.shop-text {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
}

.shop-list {
    display: flex;
    justify-content: space-between;
}

.shop-item {
    width: 560px;
}

.shop-item-wrap {
    padding-top: 35px;
    padding-left: 60px;
}

.shop-subtitle {
    color: var(--title-color);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
}

.shop-price {
    font-size: 20px;
    font-weight: 400;
}

/* Subscription */
.subscription {
    padding-bottom: 80px;
    border-bottom: 2px solid var(--title-color);
    padding-bottom: 80px;
}

.sub-title {
    font-size: 36px;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 35px;
    color: var(--title-color);
}

.sub-text {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
}

.sub-list {
    display: flex;
    justify-content: space-between;
}

.sub-item {
    width: 560px;
}

.sub-item-wrap {
    padding-top: 35px;
    padding-left: 60px;
}

.sub-subtitle {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
    color: var(--title-color);
}

.sub-text {
    font-size: 20px;
    font-weight: 400;
}

/* About us*/

.about {
    padding-top: 114px;
    padding-bottom: 114px;
    border-bottom: 2px solid var(--title-color);
}

.about-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.abt-subtitle {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 15px;
    color: var(--title-color);
}

.abt-title {
    font-size: 48px;
    font-weight: 600;
    color: var(--title-color);
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 35px;
}

.abt-text {
    font-size: 20px;
    font-weight: 400;
}

/* Footer */
.footer-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-item {
    margin-bottom: 20px;
}

.footer-link {
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
}

.footer-link:hover {
    color: var(--title-color);
}