:root{
--title-color:#779611;
--text-color:#000000;
--background-color:#F9F9F9;
--head-text:#707070;
}
body{
background-color: var(--background-color);
box-sizing: border-box;
margin: 0 auto;
color: var(--text-color);
font-family: 'Montserrat', sans-serif;
}
.container{
width: 1750px;
padding: 0 15px;
margin: 0 auto;
}
ul{
list-style: none;
margin: 0;
padding: 0;
}
a{
text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p{
padding: 0;
margin: 0;
}
.header{
padding-top: 41px;
padding-bottom: 41px;
border-bottom: 2px solid var(--title-color);  
}
.logo{
font-size: 32px;
font-weight: 600;
font-family: 'Exo 2', sans-serif;
color: var(--title-color);
margin-right: 120px;
}
.nav-list{
display: flex;
}
.nav-item{
margin-right: 80px;
font-size: 20px;
font-weight: 500;
}
.header-wrap{
display: flex;
align-items: center;
}
.nav-link{
color: var(--head-text);
cursor: pointer;
}
.nav-link:hover{
color: var(--title-color);
}
.hero{
border-bottom: 2px solid var(--title-color);


}
.hero-wrap{
display: flex;
justify-content: space-between;
align-items: center;
}
.hero-title{
font-size: 48px;
font-weight: 600;
font-family: 'Exo 2', sans-serif;
margin-bottom: 50px;
color: var(--title-color);
}
.hero-text{
font-size: 24px;
font-weight: 400;
margin-bottom: 50px;
}
.hero-btn{
padding: 17px 80px;
border-radius: 40px;
border: none;
background-color: var(--title-color);
font-size: 32px;
color: var(--background-color);
cursor: pointer;
font-weight: 400;
}