.abt {
    padding-top: 114px;
    padding-bottom: 114px;
    border-bottom: 2px solid $title-color;

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__subtitle {
        font-size: 24px;
        font-weight: 500;
        font-family: 'Exo 2', sans-serif;
        margin-bottom: 15px;
        color: $title-color;
    }
    
    &__title {
        font-size: 48px;
        font-weight: 600;
        color: $title-color;
        font-family: 'Exo 2', sans-serif;
        margin-bottom: 35px;
    }
    
    &__text {
        font-size: 20px;
        font-weight: 400;
    }
}


