.footer-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}

&_item {
    margin-bottom: 20px;
}

&_link {
    font-size: 20px;
    font-weight: 400;
    color: $title-color;

    &:hover {
    color: $title-color;
}
}

