.shop {
    padding-top: 80px;
    padding-bottom: 80px;

    &__title {
        font-size: 36px;
        font-weight: 600;
        font-family: 'Exo 2', sans-serif;
        color: $title-color;
        margin-bottom: 35px;
    }

    &__text {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 560px;
    }

    &__item-wrap {
        padding-top: 35px;
        padding-left: 60px;
    }

    &__subtitle {
        color: $title-color;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 15px;
    }

    &__price {
        font-size: 20px;
        font-weight: 400;
    }
}